.page {
  &__body {
    font-family: Roboto, sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
  }
}
